<launch>

  <!-- publish tf using urdf  -->
  <!--<include file="$(find airsim_ros_client)/launch/utils/publish_tf.launch"/>-->

  <node pkg="airsim_ros_client" type="img_publisher.py" name="airsim_img_publisher"
    output="screen" >

    <!-- RGB camera parameters (parameters when calibrated) -->
    <param name="Fx" value="160"/>
    <param name="Fy" value="160"/>
    <param name="cx" value="160"/>
    <param name="cy" value="120"/>
    <param name="width" value="320"/>  <!-- Width when calibrated!-->
    <param name="height" value="240"/> <!-- Height when calibrated!-->
    
    <!-- Frequency of publishing messages -->
    <param name="loop_rate" value="40"/>

  </node>

</launch>
